@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  min-height: 100vh;
  background: #eaeaea;
}

#home-brand{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36vh;
  margin: auto;
  
}
#home-brand a{
  margin:10px;
}

#logo-img{
  box-shadow: -6px 6px 200px rgba(0, 255, 255, 1);
}

#mic-icon:hover{
  transform: scale(1.2);
  transition: 0.6s;
}


h2 {
  font-size: 8em;
  color: #eaeaea;
  text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08), -6px -6px 12px rgb(21, 190, 212);
}

.box1 {
  position: absolute;
  top: 70px;
  right: 100px;
  width: 220px;
  height: 220px;
  background: #eaeaea;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08), -6px -6px 12px rgba(0, 255, 255, 1);
}
.box1 img{
  border-radius: 50%;
  height:100%;
  width:100%;
}

.box2 {
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: 220px;
  height: 220px;
  background: #eaeaea;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08), -6px -6px 12px rgb(600, 100, 2000,250);
}

.box3 {
  position: absolute;
  bottom: 30px;
  left: 100px;
  width: 220px;
  height: 220px;
  background: #eaeaea;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08), -6px -6px 12px rgba(0, 0, 255, 1);
}
.box3 img{
  border-radius: 50%;
  height:100%;
  width:100%;
}

.box3:before {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #eaeaea;
  border-radius: 50%;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.08), inset -6px -6px 12px rgba(255, 255, 255, 1);
}

.box4 {
  position: absolute;
  top: 70px;
  left: 100px;
  width: 220px;
  height: 220px;
  background: #eaeaea;
  border-radius: 50px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.08), -6px -6px 12px rgb(119, 21, 199);
}

.box4:before {
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #eaeaea;
  border-radius: 30px;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.08), inset -6px -6px 12px rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 700px) {

  #home-brand{
  flex-direction: column;
    padding-top: 24vh;
    margin: auto;
  }
  #home-brand h2{
    font-size: 6em;
  }
  #home-brand a{
    margin:3.5px;
  }
  #home-brand #logo-img{
    height:120px;
    width: 120px;
  }
  
  .box1,.box2,.box3,.box4{
    width: 80px;
  height: 80px;
  }
  .box1{
    top:5%;
    right:5%;
  }
  .box2{
    bottom:5%;
    right:5%;
  }
  .box3{
    bottom:5%;
    left:5%;
  }
  .box4{
    top:5%;
    left:5%;
  }
}
