@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebf5fc;
}

.main-body{
  display: flex;
  align-items: center;
  justify-content:center;
  margin: auto;
  flex-wrap: wrap;
}




 .card {
  width: 320px;
  margin: 20px;
  padding: 40px 30px;
  background: #ebf4fc;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgba(0, 255, 255, 1), 6px 6px 20px rgba(86, 44, 201, 0.1);
}

 .card:hover {
  box-shadow: 6px 6px 200px rgba(0, 255, 255, 0);
}

 .card .imgBx {
  position: relative;
  text-align: center;
}

 .card .imgBx img {
  min-width: 120px;
}

 .card .contentBx {
  position: relative;margin-top: 20px;text-align: center;
}

 .card .contentBx p {
  color: #32a3b1;
}

 .card .contentBx .talk {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 25px;
  border-style: none;
  font-size: 16px;
  box-shadow: -4px -4px 15px rgba(255, 255, 255, 1), 4px 4px 15px rgba(0, 0, 0, 0.1);
}

 .card .contentBx .talk:hover {
  box-shadow: 6px 6px 12px rgb(21, 169, 228);
}

 .card .talk:hover span {
  display: block;
  transform: scale(0.98);
}
 .card .contentBx .talk{
  outline-style: none;
}

 .card:hover .imgBx,
 .card:hover .contentBx {
  transform: scale(0.98);
}

